/* Navbar stuff */
.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	vertical-align: middle;
	display: table-cell;

	color: #e1e1e1;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#name {
	vertical-align: middle;
	display: table-cell;

	color: #e1e1e1;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
}

/* Content tile stuff */
.section-title {
	text-align: center;
}

h1 {
	text-align: center;
}

.cbody {
	margin:10px;
	padding: 10px;
	font-size: 120%;
}

img {
	border-radius: 25px;
	max-width: 90%;
	max-height: 90%;
	min-width: 90%;
	min-height: 90%;
}
