/* Content tile stuff */
.section-title {
	text-align: center;
}

a {
	text-decoration: none;
} 
a:link {
	color: blue;
}
a:visited {
	color: green;
}
a:hover {
	color: hotpink;
}
a:active {
	color: hotpink;
}

h1 {
	text-align: center;
}

#media-content {
	font-size: 17px;
}

/*
.cbody {
	margin:10px;
	padding: 10px;
	font-size: 160%;
}
*/

img {
	border-radius: 25px;
	max-width: 70%;
	max-height: 70%;
	min-width: 70%;
	min-height: 70%;
	margin: 0 auto;
}

/* Navbar stuff */
.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	vertical-align: middle;
	display: table-cell;

	color: #e1e1e1;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#name {
	vertical-align: middle;
	display: table-cell;

	color: #e1e1e1;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
}


