<data class="u-url" href="/"></data>
<div class="wrapper">
	<hr style="display: block; position: relative; padding: 0; margin: 8px auto; height: 0; width: 100%; max-height: 0; font-size: 1px; line-height: 0; clear: both; border: none; border-top: 1px solid #aaaaaa; border-bottom: 1px solid #ffffff">
	<h2 class="footer-heading">Ryan Tse</h2>
	<div class="footer-col-wrapper">
		<div class="footer-col footer-col-1">
		<ul class="contact-list">
			<li class="p-name">Ryan Tse</li><li><a class="u-email" href="mailto:rytse@protonmail.com">rytse@protonmail.com</a></li></ul>
		</div>
		<div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/rytse"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">rytse</span></a></li></ul>
</div>
		<div class="footer-col footer-col-3">
		<p>Ryan Tse&#39;s personal website. Mostly just to host his resume and bragging material.</p>
		</div>
	</div>
</div>

<div class="wrapper">
	<script type="text/javascript">
		var anchorbox = document.createElement("div");
		var headers = document.getElementsByTagName("h1");
		for (var i = 0; i < headers.length; i++) {
			var head = headers[i];
			var anch = document.createElement("a");
			anch.href = "#" + head.id;
			anch.innerHTML = head.innerHTML;
			anch.title = head.id;
			anch.style.margin = "10px";
			anch.style.fontSize = "large";

			anchorbox.appendChild(anch);
		}

		var nav = document.getElementById("my-nav");
		var space = document.createElement("div");
		space.style.width = "100px";
		anchorbox.style.float = "right";
		space.style.float = "right";
		nav.appendChild(space);
		nav.appendChild(anchorbox);
	</script>
</div>
